*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    background: #BFD7B5;
    height: 60px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;


    
}

.navgrupp1{
    float: left;
    display: inline-flex;
    justify-content: space-evenly;
}

.navgrupp2{
    float: right;
    display: inline-flex;
   
}





.lista>a{
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    color: black;
    
    
}

.lista{
    list-style: none;
    text-decoration: none;
}

main{
   column-count: 3;
   margin: 2px;
   column-rule-style: solid;
   column-rule-color: aquamarine;
}

section{
    border: 2px solid black;
    
}

#anim{
    height: 200px;
    width: 200px;
    background-image: url(hockey.jpg);
    background-color: #cccccc;
    margin: 20px auto;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transition: transform 2s ease-in-out;

}

#anim:hover{
    transform: rotate(-90deg) scale(1.5);
}

button{
 text-align: center;
 background: pink;
 margin: auto;
 display: block;
 

}

.container{
    height: 600px; 
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;



}

.flexitem{
    height: 200px;
    width: 200px;
    background: peru;
}